body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #F19E8E;
    width: 100%;
    height: 100px;
}

.menu {
    background: #fcf2f0 !important;
    color: #F19E8E !important;
}

.menu-principal {
    
    margin-top: 30px;
    
}

li > a {
    color: rgb(255, 255, 255) !important;
    font-weight: 600;
}

li > a:hover {
    color: #98756F !important;
}

.foto {
    display: block;
    margin-left: 10%;
    margin-top: 80px;
    margin-bottom: 60px;
}

h2 {
    display: block;
    margin-top: 100px;
    margin-left: -30%;
    margin-bottom: 25px;
    font-weight: bold;
}

p {
    margin-left: -35%;
    margin-bottom: 60px;
    margin-right: 10%;
    text-align: justify;
}

hr {
    margin-top: 0;
    margin-bottom: 40px;
}

#carrosel {
max-width: 50%;
margin: 0 auto;
margin-bottom: 40px;

}

.rodape {
    background:#F19E8E;
}

.icones {
    margin-top: 5px;
    font-size: 40px;

    
}

.icon {
    color: #fcf2f0 !important;
}

/*  Extra small devices (portrait phones, less than 576px) */
@media screen (max-width: 575.98px) { 

 }

/* Small devices (landscape phones, 576px and up) */

@media screen (min-width: 576px) and (max-width: 767.98px) { 
    
 }

/* Medium devices (tablets, 768px and up) */

@media screen (min-width: 768px) and (max-width: 991.98px) { 
    
 }

/* Large devices (desktops, 992px and up) */
@media screen (min-width: 992px) and (max-width: 1199.98px) { 
    
 }

/* Extra large devices (large desktops, 1200px and up) */
@media screen (min-width: 1200px) { 
    
 }