body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

.header {
    background-color: #F19E8E;
    width: 100%;
    height: 100px;
    z-index: 3;
}

.menu {
    background: #fcf2f0 !important;
    color: #F19E8E !important;
}

.menu-principal {
    
    margin-top: 30px; 
}

li > a {
    color: rgb(255, 255, 255) !important;
    font-weight: 600;
}

li > a:hover {
    color: #98756F !important;
}

/* MENU MOBILE */


    .sobre-mim-menu-mobile {
        display: none;
    }

    .menu-index-mobile {
        display: none;
    }

    .icone {
        display: none;
    }

    .card-body {
        display: none;
    }

    /* FOOTER */

.rodape {
    background:#F19E8E;
}

.icones {
    margin-top: 5px;
    font-size: 40px;
}

.icon {
    color: #fcf2f0 !important;
}

/* MEDIA QUERIES */

/*  Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    
    /* MENU MOBILE */

    .header {
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
    }

    .header nav {
        display: absolute;
        width: 100%;
        height: 100%;
    }

    .menu-index {
        display: none;
    }

    .menu-index-mobile {
        display: flex;
        position: absolute;
        width: 100%;
        left: 0px;
        right: 0px;
        top:100%;
        background:rgba(241, 158, 142, 0.8);
    }

    .menu-index-mobile > li > a:hover {

        color: #98756F !important;
    }

    .menu {
        background: rgba(196, 121, 106, 0.67)!important;
        
        color: #fcf2f0 !important;
    }

    .icone {
        display: flex;
        position: absolute;
        right: 10px;
        background: none !important;
        border: none !important;
    }

    .card-body {
        display: flex;
        margin-top: 2.8%;
        padding: 0;
        width: 100%;
        border: none !important;
    }

    .card {
        border: 0px;
        border-radius: 0px 5px 5px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    
    /* MENU MOBILE */

    .header {
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
    }

    .header nav {
        display: absolute;
        width: 100%;
        height: 100%;
    }

    .menu-index {
        display: none;
    }

    .menu-index-mobile {
        display: flex;
        position: absolute;
        width: 100%;
        left: 0px;
        right: 0px;
        top:100%;
        background:rgba(241, 158, 142, 0.8);
    }

    .menu-index-mobile > li > a:hover {

        color: #98756F !important;
    }

    .menu {
        background: rgba(196, 121, 106, 0.67)!important;
        
        color: #fcf2f0 !important;
    }
    
    .icone {
        display: flex;
        position: absolute;
        right: 10px;
        background: none !important;
        border: none !important;
    }

    .card-body {
        display: flex;
        margin-top: 2.8%;
        padding: 0;
        width: 100%;
        border: none !important;
    }

    .card {
        border: 0px;
        border-radius: 0px 5px 5px;
    }
}